body {
    font-family: 'Noto Sans TC', sans-serif;
}

#nav1 {
    margin: 1%;
}

#nav1 div a {
    text-decoration: none;
    color: #ffde59;

}
#nav1 div a:hover {
    color: #000000;
}


.body-block {
    margin: auto;
    background-color: rgb(202, 35, 35);
    width: 80%;
    height: 400px;
    padding: 50px;
    padding-top: 10%;
}

#card-selector-div {
    float: left;
    width: 45%;
    height: 190px;
    border: 1px solid #ffde59be;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    margin-right: 5%;
}

.blur{
	filter: blur(4.2px);
}

.card-options {
    padding: 6px 0; 
}


#card-selector button {
    float: right;
    margin: 1%;
    margin-right: 0;
    font-size: 10px;
    background-color: #ffde59;
}

#card-selector label {
    font-size: 10px;
}

#separator {
    float: left;
    width: 10%;
    height: 20px;
    /* background-color: blue; */
}

#card-generator {
    float: left;
    width: 45%;
    height: 190px;
    /* border: 1px solid #ffde59be; */
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    background: linear-gradient(180deg,  #ffde59, white, #ffde59);
    margin-left: 5%;
}

#card-status {
    /* background-color: blue; */
    padding: 5px 0;
}

#card-gen {
    font-size: 10px;
    padding: 3px 0;
}

#validity span {
    background-color: green;
    padding: 0 1.0%;
    font-size: 8.5px;
    color: #fff;
    border-radius: 3px;
}

#generated {
    float: right;
}

#card-number {
    /* background-color: purple; */
    padding: 15px 0;
}

#card-logo {
    float: left;
    border: 2px solid black;
    margin: 0 15px;
}

#card-values h2{
    font-size: 20px;
}

#card-values h5{
    font-size: 10px;
}

#payment {
    padding: 5px 0;
    float: right;
}

#payment button {
    font-size: 10px;
}


#customer-center {
    padding: 1% 5%;
}

#buycards {
    background-color: #ffde59;
}

#result-pay {
    width: 100%;
}

.cc-cards {
    position: relative;
    width: 220px;
    height: 50px;
    border: 1px solid #ffde59;
    border-radius: 5px;
    padding: 0 8px;
    background: linear-gradient(180deg, #ffde59, white, #ffde59);
    margin: 5px;
}

.card-modify {
    position: absolute;
    top: 15px;
    left: 60px;
    display: none;
}

.cc-cards:hover + .card-modify{
    opacity: 0.3;
    display: block;
    z-index: 2;
}

.card-modify:hover + .active {
    opacity: 0.3;
    /* display: block; */
}

.card-modify:hover {
    opacity: 1;
    display: block;
}


.cc-cards div {
    padding: 5px;
}

.cc-cards::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 50px;
    top: -1px;
    left: 210px;
}


.success::after {
    background-color: rgb(100, 200, 80);
}

.pending::after {
    background-color: rgb(243, 186, 30);
}

.failed::after {
    background-color: rgb(202, 36, 36);
}

.cc-cards div h4 {
    font-size: 15px;
}
.cc-cards div h5 {
    font-size: 9px;
    padding-top: 4px;
}

#card-cost {
    margin-left: 20px;
}

#exp {
    position: relative;
    top: 8px;
    font-size: 8px;
    float: right;
}

footer {
    height: 50px;
    background-color: #ffde59;
    text-align: center;
}

#footer p{
    padding-top: 10px;
}